paypal-workflow.json
{
  "name": "paypal-workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "huascaran-registration",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0ed5684f-4d6f-4592-b245-a511ddb3c282",
      "name": "Registration Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -800,
        160
      ],
      "webhookId": "huascaran-registration"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18HOTZjWScW4-a6ELHdWDq2VVwEyTMsJDGCS0sSuglMo",
          "mode": "list",
          "cachedResultName": "Huascaran 360 MTB - Registrations 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18HOTZjWScW4-a6ELHdWDq2VVwEyTMsJDGCS0sSuglMo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Config",
          "mode": "name"
        },
        "options": {}
      },
      "id": "d0dd8dd1-1768-42d6-b335-ff4c73addeae",
      "name": "Read Config (Early Bird Slots)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -608,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tUnBssH7sWJHKZ4B",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// Author:      Alexander Ramirez K.\n// Create Date: 2025-10-14\n// Description: Calculate registration price based on early bird slots and dates\n// =============================================\n\n// Get current date\nconst now = new Date();\nconst currentDate = now.toISOString().split('T')[0];\n\n// Pricing deadlines\nconst dec31_2025 = new Date('2025-12-31');\nconst apr30_2026 = new Date('2026-04-30');\n\n// Get early bird slots from config sheet\nconst configData = $input.all()[0].json;\nlet earlyBirdSlotsAvailable = parseInt($input.first().json['Cupos']);\n\n// ✅ Correctly read from your config structure\nif (configData && configData.early_bird_slots !== undefined) {\n  earlyBirdSlotsAvailable = earlyBirdSlotsAvailable || 0;\n}\n\n// Determine price\nlet price = 600; // Default: Regular price\nlet priceType = 'regular';\n\n// ✅ Apply correct pricing logic\nif (earlyBirdSlotsAvailable > 0) {\n  price = 450;\n  priceType = 'early_bird';\n} else if (now <= dec31_2025) {\n  price = 540;\n  priceType = 'stage_2';\n} else if (now <= apr30_2026) {\n  price = 580;\n  priceType = 'stage_3';\n} else {\n  // Registration closed\n  return {\n    json: {\n      error: true,\n      message: 'Registration period has ended (after April 30, 2026)'\n    }\n  };\n}\n\n// Get registration data from webhook\nconst registrationData = $('Registration Webhook').item.json.body;\n\n// Return combined output\nreturn {\n  json: {\n    ...registrationData,\n    price,\n    priceType,\n    earlyBirdSlotsAvailable,\n    registrationDate: currentDate,\n    registrationTimestamp: now.toISOString(),\n    invoiceNumber: `H360-${Date.now()}-${Math.floor(Math.random() * 1000)}`\n  }\n};\n"
      },
      "id": "a7ab9505-a27d-49ee-9fe2-7882f4ffa27a",
      "name": "Calculate Price",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "dbf81e46-3fca-4f86-87e0-5d3ad1c7b6e7",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $json.message } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "726ba8ae-7d3e-464f-b9b0-7e6b1765ace8",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-m.sandbox.paypal.com/v2/invoicing/invoices",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Get PayPal Token\"].json[\"access_token\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"detail\": {\n    \"invoice_number\": \"{{ $('Calculate Price').item.json.invoiceNumber }}\",\n    \"invoice_date\": \"{{ $('Calculate Price').item.json.registrationDate }}\",\n    \"currency_code\": \"USD\",\n    \"note\": \"Inscripción Huascarán 360 MTB 2026 - {{ $json.priceType === 'early_bird' ? 'Early Bird' : $json.priceType === 'stage_2' ? 'Etapa 2' : 'Tarifa Regular' }}\",\n    \"payment_term\": { \"term_type\": \"DUE_ON_RECEIPT\" }\n  },\n  \"primary_recipients\": [\n    {\n      \"billing_info\": {\n        \"email_address\": \"{{ $('Calculate Price').item.json.email }}\",\n        \"name\": {\n          \"given_name\": \"{{ $('Calculate Price').item.json.nombre.split(' ')[0] }}\",\n          \"surname\": \"{{ $('Calculate Price').item.json.nombre.split(' ').slice(1).join(' ') }}\"\n        },\n        \"phones\": [\n          {\n            \"country_code\": \"{{ (() => { \n              const raw = $('Calculate Price').item.json.telefono ?? ''; \n              const d = String(raw).replace(/[^0-9]/g, ''); // Remove all non-digits\n              \n              if (d.length === 0) return '506'; // Default to Costa Rica if empty\n              \n              const tryPick = l => { \n                const cc = d.slice(0, l); \n                const nn = d.slice(l); \n                return (nn.length >= 6 && nn.length <= 15) ? [cc, nn] : null; \n              };\n              \n              const result = tryPick(3) || tryPick(2) || tryPick(1);\n              return result ? result[0] : '506';\n            })() }}\",\n            \"national_number\": \"{{ (() => { \n              const raw = $('Calculate Price').item.json.telefono ?? ''; \n              const d = String(raw).replace(/[^0-9]/g, ''); // Remove all non-digits\n              \n              if (d.length === 0) return '00000000'; // Default placeholder if empty\n              \n              const tryPick = l => { \n                const cc = d.slice(0, l); \n                const nn = d.slice(l); \n                return (nn.length >= 6 && nn.length <= 15) ? [cc, nn] : null; \n              };\n              \n              const result = tryPick(3) || tryPick(2) || tryPick(1);\n              return result ? result[1] : d;\n            })() }}\",\n            \"phone_type\": \"MOBILE\"\n          }\n        ]\n      }\n    }\n  ],\n  \"items\": [\n    {\n      \"name\": \"Inscripción Huascarán 360 MTB 2026\",\n      \"description\": \"Carrera de ciclismo de montaña - 12-16 mayo 2026\\nCategoría: {{ $json.categoria || 'Open' }}\\nIncluye: Hospedaje, alimentación, asistencia médica, transporte de equipaje\",\n      \"quantity\": \"1\",\n      \"unit_amount\": { \"currency_code\": \"USD\", \"value\": \"{{ $('Calculate Price').item.json.price }}\" },\n      \"unit_of_measure\": \"QUANTITY\"\n    }\n  ],\n  \"configuration\": {\n    \"allow_tip\": false,\n    \"tax_calculated_after_discount\": false,\n    \"tax_inclusive\": false\n  }\n}",
        "options": {}
      },
      "id": "ed8cc3a7-122a-4139-8754-0768633b4e02",
      "name": "Create PayPal Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{\n  (() => {\n    const out = $items(\"Create PayPal Invoice\")[0].json;\n    const id =\n      out?.id ||\n      out?.self?.href?.split('/').pop() ||   // when you only have { self: { href } }\n      out?.href?.split('/').pop();           // fallback if href is top-level\n    if (!id) throw new Error(\"Invoice id not found from Create PayPal Invoice output\");\n    return `https://api-m.sandbox.paypal.com/v2/invoicing/invoices/${id}/send`;\n  })()\n}}\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Get PayPal Token\"].json[\"access_token\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"send_to_invoicer\": false,\n  \"send_to_recipient\": true,\n  \"subject\": \"Factura Huascarán 360 MTB\",\n  \"note\": \"Gracias por su registro.\"\n}",
        "options": {}
      },
      "id": "e4822536-be36-420c-953e-8f635df7aed0",
      "name": "Send PayPal Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        416,
        256
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18HOTZjWScW4-a6ELHdWDq2VVwEyTMsJDGCS0sSuglMo",
          "mode": "list",
          "cachedResultName": "Huascaran 360 MTB - Registrations 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18HOTZjWScW4-a6ELHdWDq2VVwEyTMsJDGCS0sSuglMo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Registrations",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('Calculate Price').item.json.registrationTimestamp }}",
            "invoice_number": "={{ $('Calculate Price').item.json.invoiceNumber }}",
            "invoice_id": "={{\n  (() => {\n    const created = $items(\"Create PayPal Invoice\")[0]?.json ?? {};\n    const sent    = $items(\"Send PayPal Invoice\")[0]?.json ?? {};\n    const pick = href => href ? href.split('/').pop().split('?')[0] : undefined;\n\n    return (\n      created.id ||                    // if PayPal returned an id\n      pick(created?.self?.href) ||     // e.g. .../invoices/INV2-XXXX\n      pick(created?.href) ||           // fallback\n      pick(sent?.href)                 // e.g. .../invoice/p/INV2-XXXX (payer-view)\n    );\n  })()\n}}\n",
            "name": "={{ $('Calculate Price').item.json.nombre }}",
            "email": "={{ $('Calculate Price').item.json.email }}",
            "phone": "={{ $('Calculate Price').item.json.telefono }}",
            "category": "={{ $('Calculate Price').item.json.categoria }}",
            "price": "={{ $('Calculate Price').item.json.price }}",
            "price_type": "={{ $('Calculate Price').item.json.priceType }}",
            "payment_status": "pending"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price_type",
              "displayName": "price_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_date",
              "displayName": "payment_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a2ee8383-d07e-486d-a976-5230fef45259",
      "name": "Log Registration",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        608,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tUnBssH7sWJHKZ4B",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Calculate Price').item.json.priceType }}",
              "value2": "early_bird"
            }
          ]
        }
      },
      "id": "d266e4f2-f55d-4d5f-8b72-537031e42c1d",
      "name": "Is Early Bird?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        816,
        256
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "18HOTZjWScW4-a6ELHdWDq2VVwEyTMsJDGCS0sSuglMo",
          "mode": "list",
          "cachedResultName": "Huascaran 360 MTB - Registrations 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18HOTZjWScW4-a6ELHdWDq2VVwEyTMsJDGCS0sSuglMo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Config",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Cupos": "={{ $('Calculate Price').item.json.earlyBirdSlotsAvailable - 1 }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Cupos",
              "displayName": "Cupos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "a45f14a4-917d-4a4d-b8df-fe6b2151d81d",
      "name": "Decrement Early Bird Slots",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1008,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tUnBssH7sWJHKZ4B",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  JSON.stringify((() => {\n    const calc = $items(\"Calculate Price\")[0].json;\n    const sent = $items(\"Send PayPal Invoice\")[0].json;\n    const paypalUrl = sent?.href\n      || sent?.links?.find(l => l.rel === \"payer-view\")?.href\n      || null;\n    const created = $items(\"Create PayPal Invoice\")[0].json;\n    const pickId = (href) => href ? href.split('/').pop().split('?')[0] : null;\n    const invoiceId = created?.id\n      || pickId(created?.self?.href)\n      || pickId(paypalUrl)\n      || null;\n    return {\n      success: true,\n      price: calc.price,\n      priceType: calc.priceType,\n      invoiceNumber: calc.invoiceNumber,\n      invoiceId,\n      paypalUrl\n    };\n  })())\n}}",
        "options": {}
      },
      "id": "d5d952ae-69dc-4e4c-be95-05ef79bf8a9c",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1216,
        256
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paypal-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "2cc23889-45f0-40fa-b76f-0c317911a7a4",
      "name": "PayPal Webhook (Payment Confirmation)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -800,
        560
      ],
      "webhookId": "paypal-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event_type }}",
              "value2": "INVOICING.INVOICE.PAID"
            }
          ]
        }
      },
      "id": "c4150d5f-3cff-4639-9d87-62f9b79d39b7",
      "name": "Check If Invoice Paid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -608,
        560
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "18HOTZjWScW4-a6ELHdWDq2VVwEyTMsJDGCS0sSuglMo",
          "mode": "list",
          "cachedResultName": "Huascaran 360 MTB - Registrations 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18HOTZjWScW4-a6ELHdWDq2VVwEyTMsJDGCS0sSuglMo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Registrations",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price_type",
              "displayName": "price_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_date",
              "displayName": "payment_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a1aa4263-3cbf-415d-8267-6e839919cf69",
      "name": "Update Payment Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -400,
        464
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tUnBssH7sWJHKZ4B",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-m.sandbox.paypal.com/v1/oauth2/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "specifyBody": "string",
        "body": "grant_type=client_credentials",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        256
      ],
      "id": "12c74f32-6c54-4678-95ab-072b6894775c",
      "name": "Get PayPal Token",
      "credentials": {
        "httpBasicAuth": {
          "id": "jA0Q8TFEIuhILURa",
          "name": "Paypal"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Registration Webhook": {
      "main": [
        [
          {
            "node": "Read Config (Early Bird Slots)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config (Early Bird Slots)": {
      "main": [
        [
          {
            "node": "Calculate Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Price": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get PayPal Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create PayPal Invoice": {
      "main": [
        [
          {
            "node": "Send PayPal Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send PayPal Invoice": {
      "main": [
        [
          {
            "node": "Log Registration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Registration": {
      "main": [
        [
          {
            "node": "Is Early Bird?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Early Bird?": {
      "main": [
        [
          {
            "node": "Decrement Early Bird Slots",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decrement Early Bird Slots": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PayPal Webhook (Payment Confirmation)": {
      "main": [
        [
          {
            "node": "Check If Invoice Paid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Invoice Paid": {
      "main": [
        [
          {
            "node": "Update Payment Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PayPal Token": {
      "main": [
        [
          {
            "node": "Create PayPal Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1e0b9a5-2c46-411f-959c-409a854c8dd2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8da7bee76c0d078f1a19d394eaf1b67c1c2ac60a653cd832cc4e04c0a1011adf"
  },
  "id": "H3ttHKtVy291WE9v",
  "tags": []
}